numpy
pandas
torch
matplotlib
seaborn
yfinance
stockstats
alpaca-trade-api
datasets
huggingface_hub
gymnasium
stable-baselines3[extra]
wrds
exchange_calendars
selenium
webdriver-manager
streamlit
plotly
openpyxl
scipy
tqdm
alpha_vantage==2.3.1
git+https://github.com/AI4Finance-Foundation/FinRL.git

